/* MOBILE ONLY */
@media (max-width: 930px) {

    .main-nav {
        position: fixed;
        top: 0;
        right: 0;
        height: 100dvh;
        background-color: rgb(255 255 255 / 90%);
        border-inline-start: 1px solid #ccc;
        min-width: 200px;
        transform: translateX(100%);

        transition: transform 0.6s, box-shadow 0.6s;
    }

    body.menu-open .main-nav {
        transform: translateX(0);
        box-shadow: -6px 0px 40px rgb(0 0 0 / 20%);
    }

    .main-nav ul {
        flex-direction: column;
    }

    .main-nav ul>li {
        border-bottom: 1px solid #ccc;
    }

    .main-nav ul>li a {
        display: flex;
        padding: 0.4rem 1rem;
    }

}


/* SMALL */
@media (min-width: 640px) {

    .main-layout {
        grid-template-columns: minmax(16px, 1fr) minmax(auto, 600px) minmax(16px, 1fr);
    }
}

/* MEDIUM */
@media (min-width: 930px) {

    .main-layout {
        grid-template-columns: minmax(16px, 1fr) minmax(auto, 890px) minmax(16px, 1fr);
    }

    .card-layout {
        grid-template-columns: 0 1fr 50px 1fr 0;
        row-gap: 80px;
    }

    .card-layout>*:first-child {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1 / -1;
    }

    .card-layout>*:first-child *:not(.card-image) {
        grid-column: 2 / -2;
    }

    .card-layout>*:first-child .card-image {
        grid-column: 1 / -1;
    }

    .card-layout>*:nth-child(even) {
        grid-column: 2;
    }

    .card-layout>*:nth-child(odd):not(:first-child) {
        grid-column: 4;
    }

    body {
        font-size: 0.875rem;

    }

    .main-nav ul {
        gap: 100px;
    }

    .main-screen {
        display: none;
    }

    .btn-toggle-menu {
        display: none;
    }

}

/* LARGE */
@media (min-width: 1100px) {
    .main-layout {
        grid-template-columns: minmax(16px, 1fr) minmax(auto, 1060px) minmax(16px, 1fr);
    }

    .card-layout {
        grid-template-columns: 80px 1fr 60px 1fr 80px;
        row-gap: 120px;
    }
}