.main-nav ul>li {
  border-inline-end: 1px solid #111;
}

.main-nav ul>li:first-child {
  border-inline-start: 1px solid #111;
}

.main-nav a {
  display: grid;
  display: grid;
  place-items: center;

  font-family: Lato-Bold, sans-serif;
  letter-spacing: 1px;
  color: var(--clr-primary--3);

  transition: box-shadow .4s;
}

.main-nav a.active {
  color: var(--clr-hover);
  box-shadow: inset 0px -6px 0 var(--clr-hover);
  cursor: default;
}

.main-nav a:hover {
  box-shadow: inset 0px -6px 0 var(--clr-hover);
}