.page-nav {
    font-family: Lato-Bold, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.125rem;
    line-height: 4.875rem;
    border-top: 1px solid var(--clr-primary-outline);
}

.page-nav>*:first-child {
    margin-right: 20px
}

.page-nav a {
    color: var(--clr-primary--1);
}

.page-nav a:hover {
    color: var(--clr-primary--base);
}