* {
    box-sizing: border-box;
}

body {
    background-color: rgb(239, 239, 239);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.simple-form {
    display: grid;
    gap: 10px;

    /* grid-template-columns: auto auto; */

    /* align-items: start;
    justify-items: center; */
    place-items: start stretch;

    width: 300px;
    height: 300px;

    padding: 1em;
    background-color: #fff;
    border: 1px solid lightgrey;
    margin: 40px auto;
}

button {
    justify-self: end;
    grid-column: 2;
}
