/* MAIN LAYOUT */

.main-layout {
    display: grid;
    grid-template-columns: 16px 1fr 16px;
    gap:75px
}

.main-layout>*:not(.full) {
    grid-column: 2;
}

.main-layout>*.full {
    grid-column: 1 / -1;
}